export(data1)
export(test1)
export(stem_taper_loop)
export(Mensah_2022_BA_Sweden_Larch)
export(Mensah_2022_BA_Sweden_Lodgepole_Pine)
export(Mensah_2022_BA_Sweden_Norway_Spruce)
export(Mensah_2022_BA_Sweden_Scots_Pine)
export(Mensah_2022_MAI_max_Sweden_Larch)
export(Mensah_2022_MAI_max_Sweden_Lodgepole_Pine)
export(Mensah_2022_MAI_max_Sweden_Norway_Spruce)
export(Mensah_2022_MAI_max_Sweden_Scots_Pine)
export(Mensah_2022_initial_BA_Sweden_Larch)
export(Mensah_2022_initial_BA_Sweden_Lodgepole_Pine)
export(Mensah_2022_initial_BA_Sweden_Norway_Spruce)
export(Mensah_2022_initial_BA_Sweden_Scots_Pine)
export(Mensah_2022_volume_yield_m3_ha_Sweden_Larch)
export(Mensah_2022_volume_yield_m3_ha_Sweden_Lodgepole_Pine)
export(Mensah_2022_volume_yield_m3_ha_Sweden_Norway_Spruce)
export(Mensah_2022_volume_yield_m3_ha_Sweden_Scots_Pine)
